<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="negligible_mass" value="0.1"/>
    <xacro:property name="really_negligible_mass" value="0.00001"/>
    <xacro:property name="mm2tom2" value="0.000001"/>

    <!-- INERTIA MATRICES FOR LINKS (wrt frames in urdf inertial) -->

    <!-- Base -->
    <xacro:macro name="base_inertia">
        <inertia ixx="${mm2tom2 * 1698.4399}" iyy="${mm2tom2 * 20148.638}" izz="${mm2tom2 * 19764.513}"
                 ixy="${mm2tom2 * -983.90475}" ixz="${mm2tom2 * -1305.3791}" iyz="${mm2tom2 * 153.83174}"/>
    </xacro:macro>

    <!-- Thigh -->
    <xacro:macro name="thigh_inertia">
        <inertia ixx="${mm2tom2 * 750.26891}" iyy="${mm2tom2 * 4575.9812}" izz="${mm2tom2 * 5105.9889}"
                 ixy="${mm2tom2 * -1057.6540}" ixz="${mm2tom2 * 0.071507533}" iyz="${mm2tom2 * 0.32201257}"/>
    </xacro:macro>

    <!-- Calf -->
    <xacro:macro name="calf_inertia">
        <inertia ixx="${mm2tom2 * 60.006429}" iyy="${mm2tom2 * 472.43319}" izz="${mm2tom2 * 520.49867}"
                 ixy="${mm2tom2 * -119.84835e+02}" ixz="${mm2tom2 * 0.00036890095}" iyz="${mm2tom2 * 0.00012686113}"/>
    </xacro:macro>

    <!-- Simple cuboid -->
    <xacro:macro name="cuboid_inertia_def" params="width height length mass">
        <inertia ixx="${mass * (height * height + length * length) / 12}"
                 iyy="${mass * (width * width + length * length) / 12}"
                 izz="${mass * (width * width + height * height) / 12}"
                 ixy="0" iyz="0" ixz="0"/>
    </xacro:macro>

    <!-- Simple cylinder -->
    <xacro:macro name="cylinder_inertia_def" params="radius length mass">
        <inertia ixx="${mass * (3 * radius * radius + length * length) / 12}"
                 iyy="${mass * radius* radius / 2}"
                 izz="${mass * (3 * radius * radius + length * length) / 12}"
                 ixy="0" iyz="0" ixz="0"/>
    </xacro:macro>

    <!-- Negligible inertia for simulation -->
    <xacro:property name="negligible_inertia">
        <origin xyz="0 0 0"/>
        <mass value="${negligible_mass}"/>
        <inertia ixx="${mm2tom2 * 0.0001}" iyy="${mm2tom2 * 0.0001}" izz="${mm2tom2 * 0.0001}"
                 ixy="0.0" ixz="0.0" iyz="0.0"/>
    </xacro:property>

    <xacro:property name="really_negligible_inertia">
        <origin xyz="0 0 0"/>
        <mass value="${really_negligible_mass}"/>
        <inertia ixx="${mm2tom2 * 0.00001}" iyy="${mm2tom2 * 0.00001}" izz="${mm2tom2 * 0.00001}"
                 ixy="0.0" ixz="0.0" iyz="0.0"/>
    </xacro:property>

</robot>
